* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
#root {
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e4e5e6,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e4e5e6,
    #00416a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

.App {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
