.cart-popup {
  width: 0px;
  background: #fff;
  position: relative;
  height: 0px;
}

.cart-popup .item-list {
  width: 300px;
  min-height: 155px;
  max-height: 400px;
  position: absolute;
  background: #333;
  z-index: 10;
  margin: 40px -310px;
  padding: 5px;
}

.cart-popup .item-list .items {
  min-height: 50px;
  max-height: 120px;
  overflow-y: scroll;
}

.cart-popup button {
  background: white;
  width: 100%;
  color: black;
  padding: 20px 20px;
  border: none;
  font-size: medium;
}
