.productCard {
  padding: 20px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.productCard img {
  width: 90%;
}
